

# Puerto de la BD
DB_PORT=5432

SPRING_DATASOURCE_DB_HOST=host.docker.internal
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_DB_NAME=coworking
SPRING_DATASOURCE_PASSWORD=changeme

# Perfil de Spring para desarrollo local
SPRING_PROFILES_ACTIVE=local

# Auth (rellena según tu entorno de Auth0 o mock local)
AUTH_JWT_ISSUER_URI=https://dev-l4x7cl5jwzv51tep.us.auth0.com/
AUTH_JWT_AUDIENCE=https://worknest-auth-api.com

# Postgres container credentials (usados por docker-compose.override.yml si usas env_file)
POSTGRES_DB=mini_booking_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# JDBC URL para Spring (usa esta si quieres que Spring lea URL completa)
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mini_booking_db

# Nota: Si prefieres usar host de la máquina host (no el servicio docker 'db'),
# pon SPRING_DATASOURCE_DB_HOST=host.docker.internal y deja la URL en blanco o la construyes manualmente.

