<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-column brand">
        <h3>WorkSpace</h3>
        <p>calle #3 algo mas</p>
        <p>+503 4548-5485</p>
        <p>algo&#64;workspace.com</p>

      </div>

      <div class="footer-column">
        <h3>Explorar</h3>
        <div class="footer-links">
           <a href="#">item 1</a>
          <a href="#">item 1</a>
          <a href="#">item 1</a>
        </div>
      </div>

      <div class="footer-column">
        <h3>Servicios</h3>
        <div class="footer-links">
          <a href="#">item 1</a>
          <a href="#">item 1</a>
          <a href="#">item 1</a>
        </div>
      </div>

      <div class="footer-column">
        <h3>Mantente Conectado</h3>
        <p>Suscribite con tu correo</p>
        <form class="newsletter-form">
          <input type="email" placeholder="Tu email" required>
          <button type="submit">→</button>
        </form>
      </div>
    </div>
  </div>
</footer>